<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <div class="sidenav-header">
      <h2>Stock Manager</h2>
      @if (currentUser) {
        <p class="business-name">{{ currentUser.businessName }}</p>
      }
    </div>

    <mat-nav-list>
      @for (item of menuItems; track item.path) {
        @if (shouldShowMenuItem(item)) {
          <a mat-list-item [routerLink]="item.path" routerLinkActive="active">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
        }
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="spacer"></span>

      @if (currentUser) {
        <button mat-button [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
          <span>{{ currentUser.firstName }} {{ currentUser.lastName }}</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
      }

      <mat-menu #userMenu="matMenu">
        @if (currentUser) {
          <div class="user-menu-header" mat-menu-item disabled>
            <div><strong>{{ currentUser.firstName }} {{ currentUser.lastName }}</strong></div>
            <div class="user-email">{{ currentUser.email }}</div>
            <div class="user-role">Role: {{ currentUser.role }}</div>
          </div>
        }
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>My Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
